/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/.cmake/api/v1/reply/index-2024-12-23T21-49-54-0790.json
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-5a9e3637cdd96f4f973e.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-7974a15ac8030f422435.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.exe
/cmake-build-debug/build.ninja
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/.cmake/api/v1/reply/target-emu6502-Debug-57b3937505e8ceb0b518.json
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-da9f984a66c76f8eb039.json
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-839082c379ea4ef10a1f.json
